{% extends 'base.html' %}
{% block title %}Редактировать профиль :: {{ block.super }} {% endblock %}
{% block body %}
<h1 class="display-6 text-center">Редактировать профиль</h1>
<form method="POST" >
{% csrf_token %}
{{ form.as_p }}

<button class="w-100 btn btn-lg btn-primary" type="submit">Сохранить</button>

</form>

{% if messages %}
        {% for message in messages %}
             {% if message.tags %}
                <div class="alert alert-primary" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
{% endif %}

{% endblock %}