{% extends 'base.html' %}
{% block header %} {% endblock %}
{% block body %}

<main class="form-signin text-center">
  <form method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Авторизация</h1>

      {{  form.as_p  }}

    <button class="w-100 btn btn-lg btn-primary" type="submit">Выполнить вход</button>
    <input name="next" type="hidden" value="{% url 'login' %}">
  </form>
</main>
<style>
  html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
{% endblock %}
