{% extends 'base.html'  %}
{% load my_tegs %}
{% block body %}


    {%  for group in portal.groupbitrix_set.all %}
        {% if group.bitrixtaskkeeper_set.count > 0 %}

            <table class="table table-hover table-bordered">
            <thead>
                    <th>{{ group }}</th>
                    <th></th>
                    <th><a href="{{ group.get_bitrix_url }}">Открыть в BX24</a></th>
            </thead>

            <tbody>
            <tr data-bs-toggle="collapse"
                  data-bs-target="#group-{{ forloop.counter }}" aria-expanded="false"
                  aria-controls="group-{{ forloop.counter }}" style="background-color: #3498db; color: white">

                <td>Задач в группе: {{ group.get_tasks_count }}</td>
                <td>Всякое разное</td>
                <td>Динамически прикрутить</td>
            </tr>


            <table class="table table-bordered collapse multi-collapse table-hover table-striped" id="group-{{ forloop.counter }}">

                <tr>
                    <td>Статус</td>
                    <td>Название</td>
                    <td>Описание</td>
                    <td>Создатель</td>
                    <td>Ответственный</td>
                    <td>Запланированные трудозатраты</td>
                    <td>Трудозатраты в часах за период</td>
                    <td>Запланированная дата начала</td>
                    <td>Дедлайн/Дата закрытия задачи</td>
                    <td>Важная задача?</td>
                    <td></td>
                </tr>

            {% for task in group.bitrixtaskkeeper_set.all %}
                <tr>
                    <td style="background-color:{{ status_colors|dict_key:task.django_task.status }}">{{  task.django_task.get_status_display }} </td>
                    <td>{{  task }}</td>
                    <td>{{  task.django_task.description }}</td>
                    <td>{{  task.createdBy.last_name }} {{  task.createdBy.name }}</td>
                    <td>{{  task.responsible.last_name }} {{  task.responsible.name }}</td>
                    <td>{{  task.django_task.time_estimate }}</td>
                    <td>Прикрутить факт. время</td>
                    <td>{{ task.django_task.start_date_plan|default_if_none:"--" }}</td>
                    <td>{{ task.django_task.closed_date }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}



</tbody>
</table>


{% endblock %}


