<div id="users-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="users-tab">
    <div class="card">
        <div class="p-5">
            <div>

                <table class="table table-hover text-nowrap">
                    <thead>
                    <tr>
                        <th>Пользователь</th>
                        <th>Bitrix ID</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for user in portal_users %}
                        <tr class="form-row">
                            <td><a href="{{ user.get_admin_url }}">{{ user }}</a></td>
                            <td>{{ user.bitrix_id }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>