<div id="tasks-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="tasks-tab">
    <div class="card">
        <div class="p-5">
            <div>

                <table class="table table-hover text-nowrap">
                    <thead>
                    <tr>
                        <th>Задача</th>
                        <th>Статус</th>
                        <th>Ссылка в Bitrix24</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for task in tasks %}
                        <tr class="form-row">
                            <td class="field-name"><a href="{{ task.get_admin_url }}">{{ task }}</a></td>
                            <td>{{ task.status }}</td>
                            <td><a href="{{ task.get_bitrix_url }}">Перейти в Bitrix24</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>