<div id="groups-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="groups-tab">
    <div class="card">
        <div class="p-5">
            <div>

                <table class="table table-hover text-nowrap">
                    <thead>
                    <tr>
                        <th class="column-name">Группа</th>
                        <th class="column-second_name">Количество задач в группе</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for group in groups %}
                        <tr class="form-row">
                            <td class="field-name"><a href="{{ group.get_admin_url }}">{{ group.title }}</a></td>
                            <td>{{ group.get_tasks_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>