<div class="col-12 col-lg-9">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <div class="card-title">
                {{ title }}{% block pretitle %}{% endblock %}
            </div>
        </div>
        <div class="card-body">

            {% load i18n jazzmin %}
            {% trans "General" as general_tab %}
            {% get_sections adminform inline_admin_formsets as forms %}

            <ul class="nav nav-tabs" role="tablist" id="jazzy-tabs">
                {% for fieldset in forms %}
                    <li class="nav-item">
                        <a class="nav-link{% if forloop.first %} active{% endif %}" data-toggle="pill" role="tab" aria-controls="{{ fieldset.name|default:general_tab|unicode_slugify }}-tab" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}" href="#{{ fieldset.name|default:general_tab|unicode_slugify }}-tab">
                            {{ fieldset.name|default:general_tab }}
                        </a>
                    </li>
                {% endfor %}

                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="tools-tab" aria-selected="false" href="#tools-tab">
                        Инструменты
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="groups-tab" aria-selected="false" href="#groups-tab">
                        Группы
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="users-tab" aria-selected="false" href="#users-tab">
                        Пользователи
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" role="tab" aria-controls="tasks-tab" aria-selected="false" href="#tasks-tab">
                        Задачи
                    </a>
                </li>

            </ul>

            <div class="tab-content">
                {% for fieldset in forms %}
                    <div id="{{ fieldset.name|default:general_tab|unicode_slugify }}-tab" class="tab-pane fade{% if forloop.first %} active show{% endif %}" role="tabpanel" aria-labelledby="{{ fieldset.name|default:general_tab|unicode_slugify }}-tab">
                        {% if fieldset.is_inline %}
                            {% include fieldset.opts.template with inline_admin_formset=fieldset %}
                        {% else %}
                            {% include "admin/includes/fieldset.html" with card=True %}
                        {% endif %}
                        <h5>Сохраните данные после изменения исходящего портала для обновления ссылки!</h5>
                        <h5>
                            В настройках исходящего веб-хука портала Bitrix24 укажите следующий адрес:
                            {% filter lower %}
                                https://{{ current_site }}/income/{{ original.hostname }}/
                            {% endfilter %}
                    </div>
                {% endfor %}

                {% include 'admin/bitrix_tools/_bitrixportal_tools_tab.html' %}
                {% include 'admin/bitrix_tools/_bitrixportal_groups_tab.html' %}
                {% include 'admin/bitrix_tools/_bitrixportal_users_tab.html' %}
                {% include 'admin/bitrix_tools/_bitrixportal_tasks_tab.html' %}

            </div>

        </div>
    </div>
</div>