                <div id="tools-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="tools-tab">
                    <div class="card">
                        <div class="p-5">

                            <div class="submit-row" style="text-align:center">
                                <input type="submit"  class="btn {{ jazzmin_ui.button_classes.success }} form-control  col-md-4"
                                       value="Импортировать группы из Bitrix24" name="_import-groups">

                                <input type="submit"  class="btn {{ jazzmin_ui.button_classes.success }} form-control  col-md-4"
                                       value="Импортировать пользователей из Bitrix24" name="_import-users">
                            </div>
                            <div>
                                </br>
                                <h4>Импорт задач из Bitrix24</h4>
                                <hr/>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-2 text-left">
                                            Выберите группу
                                        </label>
                                        <select name="task-import-group-id">
                                            {% for g in groups %}
                                                <option value="{{ g.bitrix_id }}">{{ g.title  }}</option>
                                            {% endfor %}
                                        </select>

                                        <input type="submit"  class="btn {{ jazzmin_ui.button_classes.success }} form-control  col-md-4"
                                               value="Импортировать задачи выбранной группы из Bitrix24 в БД Django" name="_import-tasks-group">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>