<div id="logger-tab" class="tab-pane fade" role="tabpanel" aria-labelledby="logger-tab">
    <div class="card">
        <div class="p-5">
            <div>

                <table class="table table-hover text-nowrap">
                    <thead>
                    <tr>
                        <th>Время</th>
                        <th>-</th>
                        <th>Описание</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for log in logger %}
                        <tr class="form-row">
                            <td>>{{ log.time }}</td>
                            <td>{{ log.quality }}</td>
                            <td>{{ log.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>