{% extends 'admin/change_form.html' %}

{% load jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}


{% block field_sets %}

    <div class="col-12 col-lg-9">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <div class="card-title">
                    {{ title }}{% block pretitle %}{% endblock %}
                </div>
            </div>
            <div class="card-body">

                {% load i18n jazzmin %}
                {% trans "General" as general_tab %}
                {% get_sections adminform inline_admin_formsets as forms %}

                <ul class="nav nav-tabs" role="tablist" id="jazzy-tabs">
                    {% for fieldset in forms %}
                        <li class="nav-item">
                            <a class="nav-link{% if forloop.first %} active{% endif %}" data-toggle="pill" role="tab" aria-controls="{{ fieldset.name|default:general_tab|unicode_slugify }}-tab" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}" href="#{{ fieldset.name|default:general_tab|unicode_slugify }}-tab">
                                {{ fieldset.name|default:general_tab }}
                            </a>
                        </li>
                    {% endfor %}

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" role="tab" aria-controls="logger-tab" aria-selected="false" href="#logger-tab">
                            Логгер
                        </a>
                    </li>
                </ul>

                    <div class="tab-content">
                        {% for fieldset in forms %}
                            <div id="{{ fieldset.name|default:general_tab|unicode_slugify }}-tab" class="tab-pane fade{% if forloop.first %} active show{% endif %}" role="tabpanel" aria-labelledby="{{ fieldset.name|default:general_tab|unicode_slugify }}-tab">
                                {% if fieldset.is_inline %}
                                    {% include fieldset.opts.template with inline_admin_formset=fieldset %}
                                {% else %}
                                    {% include "admin/includes/fieldset.html" with card=True %}
                                {% endif %}
                            </div>
                        {% endfor %}

                        {% include 'admin/bitrix_tools/_taskexchanger_logger_tab.html' %}

                    </div>

            </div>
        </div>
    </div>

{% endblock %}