{% extends 'admin/change_form.html' %}

{% block content %}
        {{ block.super }}
    <div class="card card-primary card-outline col-12 col-lg-9">
    </br>
    <div class="card-header">
    <label class="card-title">Связанные задачи в порталах</label>
    </div>
    <div class="card-body">
    <div class="list-group">
        {% for task in related_tasks %}
        <a class="list-group-item list-group-item-action" href="{{ task.get_admin_url }}">{{ task }}</a>
    {% endfor %}
    </div>
    </div>
    </div>
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    {% if not original.bitrix_id %}
    <div class="submit-row">
        <input type="submit" class="btn {{ jazzmin_ui.button_classes.success }} form-control"
               value="Добавить задачу в выбранный портал Bitrix24" name="_add_to_bitrix_portal">
    </div>
    {% endif %}
{% endblock %}